@media (min-width: 768px){
    .header{
        padding: 0 2.4rem;
        margin-bottom: 2.4rem;
    }
    .main {
        padding: 0 2.4rem;
    }
    .search-container{
        margin-bottom: 2.4rem;
    }
    .filter-btn{
        margin-left: .8rem;
    }
    .restaurant-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2.4rem;
    }
}

@media (min-width: 1024px) {
    .header {
        padding: 0 3.2rem;
        margin-bottom: 3.2rem;
    }
    .main {
        padding: 0 3.2rem;
    }
    .search-container {
        margin-bottom: 3.2rem;
    }
    .restaurant-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3.2rem;
    }
    .menu-toggle {
        display: none;
    }
    .nav-container {
        display: block;
    }
    .nav-buttons {
        display: flex;
        gap: 1.2rem;
    }
    .nav-items {
        display: flex;
        gap: 3.2rem;
    }
    .nav-items li:hover {
        color: #ff6b00;
        cursor: pointer;
    }
}

@media (width >= 1280) {
    .restaurant-container{
        grid-template-columns: repeat(4, 1fr);
    }
}