* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
  width: 100%;
}

/* Remove default list styles */
ul {
  list-style: none;
}

/* Remove link underline */
a {
  text-decoration: none;
  color: inherit;
}

/* Improve image behavior */
img {
  width: 100%;
  display: block;
}

/* Set base font */
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 1.6rem;
}

/* styling Header */

.header {
    height: 6.4rem;
    border: 1px solid #d4d4d4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.6rem;
    margin-bottom: 1.6rem;
}

#logo {
    width: 6rem;
}

.overlay {
    inset: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    backdrop-filter: blur(8px);
}

.mobile-menu {
    position: fixed;
    top: 1rem;
    right: 1rem;
    width:25.6rem;
    /* height:33.3rem; */
    background-color: rgb(255, 255, 255);
    display: none;
    z-index: 10;
    border-radius: .8rem;
}

.mobile-menu.active {
    display: block;
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.6rem;
    border-bottom:1px solid #eee;
    padding: 1.6rem;
}

.menu-header h2{
  font-size:18px;
  font-weight:600;
}

/* navigation */
.menu-nav{
  flex-grow:1;
  overflow-y:auto;
}

.menu-nav ul{
  padding:0px 16px;
}

.menu-nav li{
  margin-bottom:8px;
}

.menu-nav a{
  display:block;
  padding:8px 0;
  color:#4b5563;
  text-decoration:none;
}

.menu-nav a:hover{
  color:#111827;
}

.menu-footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #eee;
    padding: 2rem;
}

.login-btn {
    background:#ff6b00;
  color:white;
  font-weight:bold;
  padding:8px 25px;
  border:1px solid #cc5500;
  border-radius:6px;
  cursor:pointer;
}

.signin-btn {
   background:transparent;
  color:#ff6b00;
  font-weight:bold;
  padding:8px 25px;
  border:1px solid #cc5500;
  border-radius:6px;
  cursor:pointer;
}

.signin-btn:hover{
    background-color: #ff6b00;
    color: white;
}

.nav-container {
    display: none;
}

.nav-buttons {
    display: none;
}

/* Styling main */
.main {
    padding: 0 1.6rem;
}

.search-container{
  margin-bottom: 1.6rem;
}

.search-bar {
    padding: .8rem;
    border-radius: .8rem;
    margin-right: .8rem;
    border: 2px solid #d4d4d4;
}
.search-btn {
    padding: .8rem;
    border-radius: .8rem;
    border: 2px solid #d4d4d4;
    background-color: #ff6b00;
    border: 1px solid #cc5500;
    color: white;
    cursor: pointer;
    font-weight: 600;
}

.restaurant-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.6rem;
}


.res-card {
    background-color: #FAF9F6;
    border: 1px solid #d4d4d4;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .5);
    border-radius: 1rem;
}

.res-card img {
  width: 100%;
  border-top-left-radius: .8rem;
  border-top-right-radius: .8rem;
  height: 16rem;
  margin-bottom: 1.6rem;
  object-fit: cover;
}

.res-info {
  padding: 0 1.6rem;
  font-size: 1.4rem;
}

.res-name {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: .4rem;
}

.cuisine {
  margin-bottom: .8rem;
}

.deliveryTime {
  margin-bottom: 1.6rem;
}