* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
  width: 100%;
}

/* Remove default list styles */
ul {
  list-style: none;
}

/* Remove link underline */
a {
  text-decoration: none;
  color: inherit;
}

/* Improve image behavior */
img {
  width: 100%;
  display: block;
}

/* Set base font */
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 1.6rem;
}

/* Styling Header component */
.header {
    /* width: 100%; */
    height: 6.4rem;
    border: 1px solid #d4d4d4;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 0 1.6rem;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    /* margin: 0 3.2rem; */
    margin-bottom: 3.2rem;
}

#logo {
    width: 6rem;
}

.nav-items {
    display: flex;
    gap: 2.4rem;
    cursor: pointer;
}

/* Nav mobile goes here */
/* hide on large screens */

/* toggle button */
.menu-toggle{
  position:absolute;
  top:1rem;
  right:1rem;
  z-index:50;
  padding:8px;
  background:none;
  border:none;
  cursor:pointer;
} 

/* overlay */
.overlay{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.5);
  backdrop-filter:blur(8px);
  z-index:40;
  display:none;
}

/* mobile menu */
.mobile-menu{
  position:fixed;
  top:1rem;
  right:1rem;
  width:256px;
  height:353px;
  background:white;
  border-radius:8px;
  box-shadow:0 10px 20px rgba(0,0,0,0.2);
  z-index:50;

  transform:translateX(100%);
  transition:transform .3s ease;

  opacity:0;
  overflow:hidden;
}

/* header */
.menu-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:16px;
  border-bottom:1px solid #eee;
}

.menu-header h2{
  font-size:18px;
  font-weight:600;
}

/* navigation */
.menu-nav{
  flex-grow:1;
  overflow-y:auto;
}

.menu-nav ul{
  padding:8px 16px;
}

.menu-nav li{
  margin-bottom:8px;
}

.menu-nav a{
  display:block;
  padding:8px 0;
  color:#4b5563;
  text-decoration:none;
}

.menu-nav a:hover{
  color:#111827;
}

.nav-container{
    display: none;
}
.nav-buttons {
    display: none;
}
/* footer */
.menu-footer{
  padding:16px;
  border-top:1px solid #eee;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

/* buttons */
.login-btn{
  background:#4f46e5;
  color:white;
  font-weight:bold;
  padding:8px 25px;
  border:1px solid #4f46e5;
  border-radius:6px;
  cursor:pointer;
}

.signup-btn{
  background:transparent;
  color:#4f46e5;
  font-weight:600;
  padding:8px 16px;
  border:1px solid #4f46e5;
  border-radius:6px;
  cursor:pointer;
}

.signup-btn:hover{
  background:#4f46e5;
  color:white;
}

/* active state (for JS later) */
.mobile-menu.active{
  transform:translateX(0);
  opacity:1;
}

.overlay.active{
  display:block;
}
/* Nav mobile ends  here */
.navItems li:hover {
    color:#ff6b00;
}

/* Styling Restaurant cards */