* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
  width: 100%;
}

/* Remove default list styles */
ul {
  list-style: none;
}

/* Remove link underline */
a {
  text-decoration: none;
  color: inherit;
}

/* Improve image behavior */
img {
  width: 100%;
  display: block;
}

/* Set base font */
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 1.6rem;
}

/* Styling Header */
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6.4rem;
  border: 1px solid #d4d4d4;
  padding: 0 1.6rem;
}

#logo {
  width: 6rem;
}

.mobile-menu {
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 25.6rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgba(0, 0, 0, .5);
  border-radius: .8rem;
  z-index: 10;
  display: none;
}

.mobile-menu.active{
  display: block;
}

.overlay{
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, .5);
  backdrop-filter: blur(4px);
}

.menu-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem;
  margin-bottom: 1.6rem;
  border-bottom: 1px solid #d4d4d4;
}

.menu-header h2{
  font-size: 1.8rem;
  font-weight: 600;
}

.menu-nav ul {
  padding: 0 1.6rem;
}

.menu-nav a {
  display: block;
  padding: .8rem 0;
  color: #4b5563;
}

.menu-nav a:hover{
  color:#111827;
}

.menu-footer{
  border-top: 1px solid #d4d4d4;
  padding: 1.6rem;
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: .8rem 2.5rem;
  border-radius: .8rem;
  cursor: pointer;
  font-weight: 600;
}

.login-btn {
  background-color: #ff6b00;
  color: white;
  border: 1px solid #cc5500;
  font-weight: 600;
}

.signin-btn {
  background-color: transparent;
  color: #ff6b00;
  border: 1px solid #cc5500;
}

.signin-btn:hover{
  background-color: #ff6b00;
  color: white;
}

.nav-container{
  display: none;
}
.nav-buttons{
  display: none;
}

/* Styling Body */

.main{
  padding: 0 1.6rem;
}

.search-container{
  margin: 1.6rem;
}

.search-bar{
  padding: .8rem;
  border-radius: .8rem;
  margin-right: .8rem;
  border: 2px solid #d4d4d4;
}

.search-btn{
  padding: .8rem;
  border-radius: .8rem;
  margin-right: .8rem;
  border: 1px solid #cc5500;
  background-color: #ff6b00;
  color: white;
}

.filter-btn{
  margin-top: .8rem;
  padding: .8rem;
  border-radius: .8rem;
  margin-right: .8rem;
  border: 1px solid #cc5500;
  background-color: #ff6b00;
  color: white;
}

.res-card{
  background-color: #FAF9F6;
  border: 1px solid #d4d4d4;
  border-radius: .8rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, .5);
}

.res-img{
  width: 100%;
  height: 16rem;
    border-top-left-radius: .8rem;
    border-top-right-radius: .8rem;
    object-fit: cover;
}

.res-info{
  padding: 1.6rem;
  font-size: 1.4rem;
}

.res-name{
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: .4rem;
}

.res-cuisine{
  margin-bottom: .8rem;
}

.restaurant-container{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.6rem;
}

/* Shimmer UI */

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    width: 31rem;
    height: 21.6rem;
    background-color: lightgray;
    margin: 1.6rem;
    border-radius: 1rem;
}

/* Restaurant Menu */

.categoroy-section{
   width: 100%;
  /* margin: 0 auto; */
  margin-bottom: 1.6rem;
}
.menu-card{
  padding: 1.6rem;
 
}

.category-header{
  display: flex;
  cursor: pointer;
  padding: 1.6rem;
  border-radius: 1rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  border: 1px solid #d4d4d4;
  margin-bottom: 1.6rem;
}

.category-header.active{
  border-bottom: none;
  background-color: #F9FAFB;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: none;
}
.item-title{
 font-size: 1.8rem;
 font-weight: 700;
 overflow: hidden;
 white-space: nowrap;
 text-overflow: ellipsis;
    
}


.item-list{
  display: none;
  /* border: 1px solid #d4d4d4; */
  border: 1px solid #d4d4d4;
  border-top: none;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  /* margin-top: 1.6rem; */
  padding: 1.6rem;
  margin-bottom: 1.6rem;
}


.item-list.active{
  display: block;
}

.item-card{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 1.6rem 0;
}


.item-image-container{
  position: relative;
  width: 12.8rem;
  height: 12.8rem;
  display: inline-block;
}

.add-btn{
  position: absolute;
  bottom: 0.8rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.6rem 1.2rem;
  background-color: white;
  border: none;
  color: green;
  border-radius: 0.6rem;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.4rem;
  z-index: 10;
}

.add-btn:hover {
  background-color: whitesmoke;
}

.item-image{
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  object-fit: cover;
  display: block;
}

.item-info{
  width: 50%;
  /* padding: 1.6rem; */
}
.name-price{
  display: flex;
  padding-right: 1.6rem;
}
.item-name{
  margin-bottom: .8rem;
  font-size: 1.6rem;
  font-weight: 600;
  padding-right: 1rem;
}

.item-price{
  font-size: 1.8rem;
  font-weight: 700;
}

.item-description{
  font-size: 1.4rem;
}



.border-bottom{
  border-bottom: 1px solid #d4d4d4;
}


/* RestaurantMEnu SHimmer */


.menu-shimmer-container{
  padding: 1.6rem;
}
.menu-shimmer-card{
  margin-top: 6rem;
  width: 100%;
  background-color: lightgray;
  height: 10rem;
  width: 100%;
  border-radius: 1rem;
}
